@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16/16;
$line: 1.382rem;

$row-count: 8;
$col-count: 13;
$board-height-ratio: $row-count/$col-count;
$board-angle: 32deg;
$character-angle: 7.6deg;

$x-unit: 100% / $col-count;
$y-unit: 100% / $row-count;

$zoom-out-size: $line*2;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time: 200ms;
$short-time: 124ms;
$loop-time: 6000ms;

//
// Colors

$hue: 45;
$hue-increment: 1.618;

$hue-1:  $hue + (360/$hue-increment) *  1;
$hue-2:  $hue + (360/$hue-increment) *  2;
$hue-3:  $hue + (360/$hue-increment) *  3;
$hue-4:  $hue + (360/$hue-increment) *  4;
$hue-5:  $hue + (360/$hue-increment) *  5;
$hue-6:  $hue + (360/$hue-increment) *  6;
$hue-7:  $hue + (360/$hue-increment) *  7;
$hue-8:  $hue + (360/$hue-increment) *  8;
$hue-9:  $hue + (360/$hue-increment) *  9;
$hue-10: $hue + (360/$hue-increment) * 10;
$hue-11: $hue + (360/$hue-increment) * 11;
$hue-12: $hue + (360/$hue-increment) * 12;
$hue-13: $hue + (360/$hue-increment) * 13;

$background:      hsl($hue-1, 50%, 23.6%);
$off-background:  hsl($hue-1, 38.2%, 14.6%);
$card-background: hsl($hue-1, 50%, 9%);

$bright: hsl($hue, 23.6%, 76.4%);
$body:   hsl($hue, 5.6%, 61.8%);
$dim:    hsl($hue, 3.4%, 50%);

$purple-bright: hsl($hue-1, 23.6%, 76.4%);
$purple-body:   hsl($hue-1, 14.6%, 61.8%);
$purple-dim:    hsl($hue-1, 9%, 50%);

$yellow: hsl($hue,   50%, 61.8%);
$orange: hsl($hue-8, 50%, 50%);
$red:    hsl($hue-3, 38.2%, 50.0%);
$blue:   hsl($hue-4, 50%, 60%);
$cyan:   hsl($hue-7, 38.2%, 50.0%);
$green:  hsl($hue-2, 23.6%, 50.0%);
$purple: hsl($hue-1, 50.0%, 66.6%);

$shadow:      hsl($hue-1, 50%, 5.6%);
$border:      hsl($hue-1, 9%, 41.4%);

$highlight: hsl($hue, 76.4%, 61.8%);
$purple-highlight: hsl($hue-1, 38.2%, 50%);
$blue-highlight: hsl($hue-4, 91%, 66.6%);

$shadow: hsla($hue-1, 50%, 5.6%, 0.236);

//
// Media queries

$xs2:  "#{317 / 16 * 1em}";
$xs:   "#{318 / 16 * 1em}";
$s:    "#{478 / 16 * 1em}";
$m:    "#{560 / 16 * 1em}";
$l:    "#{740 / 16 * 1em}";
$xl:   "#{960 / 16 * 1em}";
$xl2: "#{1100 / 16 * 1em}";
$xl3: "#{1200 / 16 * 1em}";
$xl4: "#{1400 / 16 * 1em}";
$xl5: "#{1700 / 16 * 1em}";
$xl6: "#{1900 / 16 * 1em}";
$xl7: "#{2300 / 16 * 1em}";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";

//
// Font families

html {
  font-family: serif;
}

//
// Basic styles

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: hsla($hue-1, 100%, 61.8%, 0.5);
}

body {

}

a {
  color: hsl($hue-2, 85.4%, 61.8%);
  text-decoration: none;

  &:hover {
    color: hsl($hue-3, 85.4%, 61.8%);
  }

  &:active {
    color: hsl($hue-4, 85.4%, 61.8%);
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: hsl($hue, 23.6%, 76.4%);
}

hr {
  border-color: hsl($hue-1, 9%, 23.6%);
}

code {
  color: hsl($hue-1, 14.6%, 61.8%);
}

::selection {
  background: hsl($hue-2, 91%, 61.8%);
}

::placeholder {
  color: hsl($hue, 9%, 50%);
}

.absolute-0 {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

html, body {
  height: 100%;
  margin: 0;
}

.game {
  perspective: 50em;
  margin: 0;
}

.grid {
  margin: auto;
  width: 100vmin;
  height: 100vmin * $board-height-ratio;
  transform: rotateX($board-angle);
  transform-style: preserve-3d;
  transform-origin: bottom;
  border: 1px solid $off-background;
}

.row,
.col {
  border: solid $off-background;
}

.row {
  height: 100 / $row-count *1%;
  border-width: 2px 0;
}

.col {
  float: left;
  width: 100 / $col-count *1%;
  height: 100%;
  border-width: 0 2px;
}

.character {
  width: $x-unit;
  height: $y-unit;
  color: $bright;
  border: 2px solid $shadow;
  border-radius: 50%;
  transform: translateY(-50%) rotateX($board-angle * -1 - $character-angle);
  transform-origin: bottom;
  position: absolute;
  transition: $main-time $main-easing;
  transition-property: transform, left, top, right, bottom;

  &[data-team="1"] {
    background: $blue;
  }

  &[data-team="2"] {
    background: $red;
  }

  .tag {
    word-break: break-word;
    font-size: 10px;
    line-height: 1;
    padding: 3vmin 10px 0;
    text-align: center;
  }
}

@for $i from 0 through $col-count - 1 {
  .x-pos-#{$i+1} { left: $i * $x-unit; }
}

@for $i from 0 through $row-count - 1 {
  .y-pos-#{$i+1} { top: $i * $y-unit; }
}

.character-shadow {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: $shadow;
  border-radius: 50%;
  transform: rotateY(-$board-angle) rotateX(180deg + $board-angle - $character-angle) scaleY(1.618);
  transform-origin: bottom;
}
